environment: ${MOON_SOVEREIGN_ENVIRONMENT:PROD}
enableClientConfig: ${MOON_SOVEREIGN_ENABLE_CLIENT_CONFIG:false}
enableSwagger: ${MOON_SOVEREIGN_ENABLE_SWAGGER:false}
enableMetrics: ${MOON_SOVEREIGN_ENABLE_METRICS:false}

server:
  name: ${MOON_SOVEREIGN_SERVER_NAME:sovereign}
  namespace: ${MOON_SOVEREIGN_SERVER_NAMESPACE:moon}
  useRandomID: ${MOON_SOVEREIGN_USE_RANDOM_NODE_ID:false}
  metadata:
    tag: ${MOON_SOVEREIGN_METADATA_TAG:sovereign}
    repository: ${MOON_SOVEREIGN_METADATA_REPOSITORY:https://github.com/aide-family/sovereign}
    author: ${MOON_SOVEREIGN_METADATA_AUTHOR:Aide Family}
    email: ${MOON_SOVEREIGN_METADATA_EMAIL:aidecloud@163.com}
  http:
    address: "${MOON_SOVEREIGN_HTTP_ADDRESS:0.0.0.0:10080}"
    network: "${MOON_SOVEREIGN_HTTP_NETWORK:tcp}"
    timeout: "${MOON_SOVEREIGN_HTTP_TIMEOUT:10s}"
    protocol: HTTP
  grpc:
    address: "${MOON_SOVEREIGN_GRPC_ADDRESS:0.0.0.0:10090}"
    network: "${MOON_SOVEREIGN_GRPC_NETWORK:tcp}"
    timeout: "${MOON_SOVEREIGN_GRPC_TIMEOUT:10s}"
    protocol: GRPC

jwt:
  secret: "${MOON_SOVEREIGN_JWT_SECRET:xxx}"
  expire: "${MOON_SOVEREIGN_JWT_EXPIRE:600s}"
  issuer: "${MOON_SOVEREIGN_JWT_ISSUER:sovereign}"

main:
  dialector: MYSQL
  debug: ${MOON_SOVEREIGN_MAIN_DEBUG:false}
  useSystemLogger: ${MOON_SOVEREIGN_MAIN_USE_SYSTEM_LOGGER:true}
  options:
    '@type': type.googleapis.com/sovereign.config.MySQLOptions
    username: "${MOON_SOVEREIGN_MAIN_USERNAME:root}"
    password: "${MOON_SOVEREIGN_MAIN_PASSWORD:123456}"
    host: "${MOON_SOVEREIGN_MAIN_HOST:localhost}"
    port: ${MOON_SOVEREIGN_MAIN_PORT:3306}
    database: ${MOON_SOVEREIGN_MAIN_DATABASE:sovereign}
    parameters:
      charset: utf8mb4
      parseTime: "true"
      loc: Asia/Shanghai
    dsn: "${MOON_SOVEREIGN_MAIN_DSN:file:./sovereign.db?cache=shared}"

report:
  reportType: ${MOON_SOVEREIGN_REPORT_TYPE:}
  namespace: ${MOON_SOVEREIGN_REPORT_NAMESPACE:moon}
  options:
    '@type': type.googleapis.com/sovereign.config.ETCDOptions
    endpoints: "${MOON_SOVEREIGN_ETCD_ENDPOINTS:127.0.0.1:2379}"
    username: "${MOON_SOVEREIGN_ETCD_USERNAME:root}"
    password: "${MOON_SOVEREIGN_ETCD_PASSWORD:123456}"
    dialTimeout: "${MOON_SOVEREIGN_ETCD_DIAL_TIMEOUT:10s}"
    kubeConfig: "${MOON_SOVEREIGN_ETCD_KUBE_CONFIG:~/.kube/config}"

cluster:
  name: ${MOON_SOVEREIGN_CLUSTER_NAME:moon.sovereign}
  endpoints: ${MOON_SOVEREIGN_CLUSTER_ENDPOINTS:}
  timeout: ${MOON_SOVEREIGN_CLUSTER_TIMEOUT:10s}
  protocol: ${MOON_SOVEREIGN_CLUSTER_PROTOCOL:GRPC}

swaggerBasicAuth:
  enabled: ${MOON_SOVEREIGN_SWAGGER_BASIC_AUTH_ENABLED:true}  
  username: ${MOON_SOVEREIGN_SWAGGER_BASIC_AUTH_USERNAME:moon.sovereign}
  password: ${MOON_SOVEREIGN_SWAGGER_BASIC_AUTH_PASSWORD:sovereign.swagger}

metricsBasicAuth:
  enabled: ${MOON_SOVEREIGN_METRICS_BASIC_AUTH_ENABLED:true}
  username: ${MOON_SOVEREIGN_METRICS_BASIC_AUTH_USERNAME:moon.sovereign}
  password: ${MOON_SOVEREIGN_METRICS_BASIC_AUTH_PASSWORD:sovereign.metrics}